.sg-choice {
    border: 1px #bbb solid;
    border-collapse: collapse;
    margin-top: 1em;
    text-align: center;
}

.sg-choice td {
    border: 1px #bbb solid;
    padding: 0.5em;
    width: 20em;
}

.sg-title {
     background-color: #F0F0F0;
     font-weight: bold;
}

.sg-subtitle {
    background-color: #F9F9F9;
    font-weight: bold;
}

.sg-table {
    border: 1px #bbb solid;
    border-collapse: collapse;
    margin-top: 1em;
}

.sg-table th {
    border: 1px #bbb solid;
    padding: 0.5em;
    background-color: #F0F0F0;
}

.sg-table td {
    border: 1px #bbb solid;
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
}

.sg-table td td {
    text-align: left;
}

table.jobs {
    border-spacing: 0px;
}

table.jobs tr:hover {
    background-color: #F9F9F9;
    padding: 0;
    border: 0;
    height: 14px;
}

table.jobs td {
    padding: 0;
    border: 0;
    height: 14px;
}

table.jobs td.delete {
    text-align: right;
}

ul.typeahead {
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    display: block;
}

ul.typeahead li {
    display: block;
}

ul.typeahead li.selected {
    background-color: #ccc;
}

.progress-bar td {
    padding: 0;
}